{% extends 'afterlogin.html' %}

{% block title%}Customer Login{% endblock %}

{% block body%} 

<div class="container">
   <div class="row">
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         
      </div>
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">

      </div>
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">

      </div>
   </div>
   <div class="row">
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">

      </div>
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">

      </div>
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">

      </div>
   </div>
</div>

{% endblock %}