{% extends 'afterlogin.html' %}

{% block title%}Customer Login{% endblock %}

{% block body%}
<section id="orderpage">
   <div class="row d-flex justify-content-center align-items-center">
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-3 my-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row d-flex justify-content-center align-items-center">
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-3 mx-2 shadow p-3 mb-5 bg-body rounded">
         <div class="card">
            <img src="/static/customer/images/template.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Product1</h5>
               <p class="card-text">Details.</p>
               <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="button" id="increment">+</button>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                     aria-describedby="button-addon1">
                  <button class="btn btn-outline-secondary" type="button" id="decrement">-</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row d-flex justify-content-center">
      <button class="col-3 btn btn-outline-secondary" type="submit">Proceed to place order</button>
   </div>
</section>

<section id="profilepage"></section>
<section id="historypage"></section>
{% endblock %}